<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <style>
      .main-div {
        border: 2px solid black;
        background-color: whitesmoke;
        width: 30%;
        padding: 3rem;
        margin-left: 35%;
        margin-top: 10%;
      }
      .main-div h2 {
        color: dodgerblue;
      }
    </style>
  </head>
  <body>
    <div class="main-div">
      <h2>Edit your post</h2>
      <hr />
      <p>Post id : <%= post.id %></p>
      <p>Post username : @<%= post.username %></p>
      <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea rows="10" cols="35" name="content">
 <%= post.content %></textarea
        ><br /><br />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
